---
Checks:          'clang-diagnostic-*,clang-analyzer-*,modernize-*,cppcoreguidelines-*,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-pro-bounds-pointer-arithmetic,readability-*,-readability-else-after-return,-readability-implicit-bool-conversion,llvm-header-guard,misc-noexcept-move-constructor,misc-move-const-arg'
WarningsAsErrors: '*'
HeaderFilterRegex: '(.*lib/.*\\.h(pp)?|.*test/.*\\.h(pp)?)'
AnalyzeTemporaryDtors: false
FormatStyle:     none
...
