build/
static-analysis/
.idea/
*.orig
address-sanitizer
undefined-behavior-sanitizer
*.swp
tracing/
dummy
molch.config
molch.files
molch.includes
molch.creator*
.browse.VC.db
.browse.VC.db-wal
.vscode
*.pb-c.h
