release/
build/
build-clang/
clang-tidy/
static-analysis/
.idea/
*.orig
sanitizers
*.swp
molch.config
molch.files
molch.includes
molch.creator*
.browse.VC.db
.browse.VC.db-wal
.vscode
*.pb-c.h
*.pb.h
